{% extends "head.html" %}

{% block body %}
	<div class="container">
	  <div class="row">
	    <div class="col-sm-6 offset-sm-3">
	    	<br>
	    	<div class="alert alert-success text-center" id="registro_ok" style="display: none;">
					Usuario Registrado Correctamente.
				</div>		
	      <h2 class="text-center">Registrar Usuario</h2>
	      <br>
	      <form action="registro" method="post" accept-charset="utf-8" id="form-1">
	        <div class="form-group">
	          <input type="text" name="name" class="form-control"  placeholder="Ingrese su Nombre" id="name">
	        </div>
	        <div class="form-group">
	          <input type="email" name="email" class="form-control"  placeholder="Ingrese su Email" id="email">
	        </div>
	        <div class="form-group">
	          <input type="password" name="password" class="form-control"  placeholder="Ingrese su Password" id="password">
	        </div>
	        <div class="form-group">
	        	<select name="country" id="country" class="form-control custom-select">
	        		<option value="">--Seleccionar Pais--</option>
	        	</select>
	        </div>
	        <button type="submit" class="btn btn-success btn-lg btn-block">Enviar</button>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="app/resources/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}